$panel-bg-color: #dee5fe;

$nav-bg-color: #0078a6;
$nav-btn-color: #0096d3;
$btn-hover-bg-color: #00a3e7;
$btn-activate-bg-color: #004b64;
$controller-size: 35px;

$icons: (
        "1": "arrow-up",
        "2": "arrow-down",
        "3": "snowy",
        "4": "blizzard",
        "5": "cloudy",
        "6": "metorite",
        "7": "rainy",
        "8": "stormy",
        "9": "sunny",
        "10": "strips-small",
        "11": "strips-big",
        "12": "wind",
);