$panel-bg-color: rgb(255, 251, 237);

$nav-bg-color: #a94e00;
$nav-btn-color: #e36401;
$text-color: #5d2901;
$text-a-color: #f6ebe5;
$border-color: rgba(115, 61, 39, 0.43);
$border-a-color: rgba(220, 86, 17, 0.64);

$big-card-content-color: rgba(203, 146, 68, 0.7);
$big-card-header-color: #fce0cf;
$big-card-text-color: #5d2901;

$big-card-content-a-color: #a94e00;
$big-card-header-a-color: #faae73;

$small-card-color: #fce0cf;
$small-card-a-color: #faae73;

$btn-hover-bg-color: #00a3e7;
$btn-activate-bg-color: #004b64;
$controller-size: 35px;

$icons: (

        "1": "arrow-up",
        "2": "arrow-down",
        "3": "snowy",
        "4": "blizzard",
        "5": "cloudy",
        "6": "metorite",
        "7": "rainy",
        "8": "stormy",
        "9": "sunny",
        "10": "strips-small",
        "11": "strips-big",
        "12": "wind",
);