@import "panel";
@import "map";
@import "variables";

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-size: 1.1rem;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.app {
  display: flex;
  flex-direction: row;
}

.import {
  background-image: url('icons/marker-shadow.png');
}