@import "panel";
@import "map";


body {
  margin: 0;
  padding: 0;
  color: #606060;
  font-size: 1.1rem;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.app {
  display: flex;
  flex-direction: row;
}

.import {
  background-image: url('icons/marker-shadow.png');
}